<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12" style="padding-top: 50px;">
      <div class="card card-plain">
        <div class="card-header">
          <h4 class="card-title"> Liste réparations disponibles </h4>
          <p class="category">Glisser l'image dans le tableau "Liste réparation" pour l'ajouter</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th></th>
                <th>
                  Modèle
                </th>
                <th>
                  Nom
                </th>
                <th>
                  Prix
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let rep of reparationService.reparations">
                    <td>
                      <div (drop)="drop($event)" (dragover)="allowDrop($event)">
                        <img src="{{'../assets/img/'+rep.type + '.jpg'}}" style="width: 50px; height: 50px;" draggable="true" (dragstart)="drag(rep.type,rep.prix)" id="drag1"/>
                      </div>
                    </td>
                    <td>
                        {{rep.modele}}
                    </td>
                    <td>
                        {{rep.type}}
                    </td>
                    <td>
                        {{rep.prix}} Ar
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Liste réparations</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive" (drop)="drop($event)" (dragover)="allowDrop($event)">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Date début
                  </th>
                  <th>
                    Date fin
                  </th>
                  <th>
                    type
                  </th>
                  <th>
                    Prix
                  </th>
                  <th>
                    Etat
                  </th>
                  <th></th>
                </thead>
                <tbody>
                  <tr *ngFor="let rep of reparationVoitureService.voiture.reparation">
                    <td *ngIf="rep.paye == 0">
                      {{rep.daty}}
                    </td>
                    <td *ngIf="rep.paye == 0">
                      <div *ngIf="rep.dateFin === undefined">
                        ---
                      </div>
                      <div *ngIf="rep.dateFin !== undefined">
                        {{rep.dateFin}}
                      </div>
                    </td>
                    <td *ngIf="rep.paye == 0">
                      {{rep.type}}
                    </td>
                    <td *ngIf="rep.paye == 0">
                      {{rep.prix}} Ar
                    </td>
                    <td *ngIf="rep.paye == 0">
                      <div *ngIf="rep.etat == 0">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </div>
                      <div *ngIf="rep.etat == 1">
                        <i class="now-ui-icons ui-1_check"></i>
                      </div>
                    </td>
                    <td *ngIf="rep.paye == 0">
                      <button class="btn btn-primary btn-block" (click)="terminer(rep.daty,rep.type)" style="width: 100px;">Terminer</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <button (click)="openModal(exportChoose)">
          Test
        </button>
      </div>
  </div>
  <ng-template  #exportChoose data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true" let-modal>
    <div class="modal-header">
      Are you Bg right ?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary"  (click)="isFiltered = true;modal.close()"  >Yes , i'm Bg</button>
      <button type="button" class="btn btn-outline-primary"  (click)="isFiltered = false;modal.close()"  >No , i'm so Beautiful ;)</button>
    </div>
  </ng-template>
</div>


