<app-navbar></app-navbar>
<br>
<h3 style="  color: navy; text-indent: 30px; text-transform: uppercase; text-align:center"> Liste de votre voiture </h3>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form class="form-inline">
        <div class="row">
          <div class="col-4">
            <input type="text" class="form-control" id="inputPassword2" placeholder="Numero voiture" name="numero" [(ngModel)]="numero">
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-primary mb-2" (click)="chercher()" >Chercher</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>



<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Modele Voiture</th>
          <th scope="col">Numero voiture</th>
          <th scope="col">Etat</th>
          <th scope="col">Action</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let voiture of reparationVoitureService.voitures ; let iteration = index ">
          <th scope="row">{{iteration+1}}</th>
          <td>{{voiture.modele}}</td>
          <td><a [routerLink]="['/details']" [queryParams]="{ modele: voiture.modele, numero: voiture.numero}">{{voiture.numero}}</a></td>
          <td *ngIf="voiture.diagnostique == 0">
            <button class="btn btn-light" (click)="depanner(voiture.modele, voiture.numero)">
              <span>Depanner</span>
            </button>
          </td>
          <td *ngIf=" voiture.diagnostique == 1 || voiture.diagnostique == 3">
            En reparation
          </td>
          <td *ngIf=" voiture.diagnostique == 2">
            En attente
          </td>
          <td>
            <a [routerLink]="['/historique']" [queryParams]="{ modele: voiture.modele, numero: voiture.numero}">Voir historique</a>
          </td>
          <td *ngIf=" voiture.pourcentage == 100">
            <button class="btn btn-light" (click)="depanner(voiture.modele, voiture.numero)">
              <span>Récupérer</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>
<app-footer></app-footer>