<div class="panel-header panel-header-sm"></div>
<div class="main-content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Chiffre d’affaires par jour</h4>
            </div>
            <div class="chart-container">
                <canvas  id="MyChart" >{{ chart }}</canvas>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">
              <h4 class="card-title" style="color: black;">Temps de réparation moyen</h4>
              <h3 class="card-body">{{moyenneReparation}} minutes </h3>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-8">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Chiffre d’affaires par mois</h4>
              </div>
              <div class="chart-container">
                  <canvas  id="MyChart1" >{{ chart1 }}</canvas>
              </div>
          </div>
        </div>
</div>

