
<!--<div class="panel-header panel-header-sm"></div>
<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Temps de réparation pour une voiture</h4>
            </div>
            <div class="chart-container">
                <canvas  id="MyChart" >{{ chart }}</canvas>
            </div>
        </div>
      </div>
    </div>
  </div>-->
<div class="panel-header panel-header-sm"></div>
<div class="main-content">
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Statistique</h5>
            <h4 class="card-title">Temps de réparation moyen</h4>
            <h3 class="card-body">{{moyenneReparation}} minutes </h3>
          </div>
        </div>
    </div>
</div>
  
