<section class="footer">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #202040;">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy;{{test | date: 'yyyy'}}, Créer par 
        <a href="#" target="_blank">RAFENOHERILALA Hajaina Fenitra</a> et
        <a href="#" target="_blank">RAKOTOARISOA TANTELIMAMIRINA Anita</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>

  