<app-navbar></app-navbar>
<link rel="stylesheet" href="ajout-voiture.component.css" >
<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
      <form>
          <div class="formbold-input-flex">
            <div>
                <label for="firstname" class="formbold-form-label"> Nom </label>
                <input type="text" name="nom" id="firstname" [(ngModel)]="nom" value={{nom}} class="formbold-form-input" readonly />
            </div>
            <div>
                <label for="lastname" class="formbold-form-label">Prenom</label>
                <input type="text" name="lastname" id="lastname" value={{prenom}} class="formbold-form-input"  readonly/>
            </div>
          </div>
  
          <div class="formbold-input-flex">
            <div>
                <label for="email" class="formbold-form-label"> Mail </label>
                <input  type="email" name="email" [(ngModel)]="email" id="email" value={{email}} class="formbold-form-input"  readonly />
            </div>
            <div>
                <label for="phone" class="formbold-form-label"> Phone </label>
                <input  type="text" name="phone"  id="phone" value={{tel}} class="formbold-form-input"  readonly/>
            </div>
           
          </div>

          <div class="formbold-input-flex">
            <div>
                <label for="phone" class="formbold-form-label"> Adresse </label>
                <input  type="text" name="adresse"   value={{adresse}} class="formbold-form-input"  readonly/>
            </div>
            <div>
                <label for="phone" class="formbold-form-label"> Phone </label>
                <input  type="text" name="phone"  [(ngModel)]="tel" value={{tel}} class="formbold-form-input"  readonly/>
            </div>
          </div>

          <div class="formbold-input-flex">
            <div>
                <label for="phone" class="formbold-form-label"> Marque Voiture </label>
                <select #cricket (change)="update($event)" class="formbold-form-input" [(ngModel)]="marque">
                    <option *ngFor="let m of marqueVoitureList" [value]="m.marque">
                        {{m.marque}}
                    </option>
                </select>
            </div>
            <div>
                <label for="phone" class="formbold-form-label"> N° Voiture </label>
                <input  type="text" name="numero"  [(ngModel)]="numero"   class="formbold-form-input"  />
            </div>
          </div>
  
          <div>
            <button class="formbold-btn" (click)="insertVoitureClient()">Enregistrer</button>
          </div>
  
      </form>
    </div>
  </div>
<app-footer></app-footer>
   