<app-navbar></app-navbar>
<br>
<h3 style="  color: navy; text-indent: 30px; text-transform: uppercase; text-align:center"> L'historique de votre voiture </h3>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"> Type de réparation</th>
          <th scope="col">Date début</th>
          <th scope="col">Date fin</th>
          <th scope="col">Quantité</th>
          <th scope="col">Prix</th>
          <th scope="col">Etat</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rep of reparationVoitureService.voiture.reparation ; let iteration = index  ">
          <th scope="row">{{iteration+1}}</th>
          <td>{{rep.type}}</td>
          <td> {{rep.daty}}</td>
          <td *ngIf="rep.dateFin === undefined">
            ---
          </td>
          <td  *ngIf="rep.dateFin !== undefined">
            {{rep.dateFin}}
          </td>
          <td class="text-center">
            {{rep.quantite}}
          </td>
          <td >
            {{rep.prix}} Ar
          </td>
          <td >
            <div *ngIf="rep.etat == 0">
                <img src="../assets/uncheck-icon-17.jpg" style="width: 30px; height: 30px;"/>
            </div>
            <div *ngIf="rep.etat == 1 || rep.etat == 2">
                <img src="../assets/5aa78e207603fc558cffbf19.png" style="width: 30px; height: 30px;"/>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-8"></div>
     
    <div class="col-md-2">
        <button  class="btn btn-primary" [routerLink]="['/liste-voiture']">
        Retour
      </button>
    </div>
    <div class="col-md-2"></div>
</div>
<app-footer></app-footer>