<html>
    <head>

    </head>
    <body>
        <div class="container">
            <div class="content">
              <h1>Votre compte a été créé !</h1>
              
            </div>
            
          </div><div class="container">
            <div class="content">
              <h1>Votre compte a été bien créé !</h1>
              <h3>Veuillez le vérifier en cliquant sur le lien d'activation qui vous a été envoyé par e-mail.</h3>
               <h3> Nous vous remercions </h3>
            </div>
           
          </div>
    </body>
</html>