<app-navbar></app-navbar>
<br>
<h3 style="  color: navy; text-indent: 30px; text-transform: uppercase; text-align:center"> Details de votre reparation </h3>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"> Type de réparation</th>
          <th scope="col">Date début</th>
          <th scope="col">Date fin</th>
          <th scope="col">Quantité</th>
          <th scope="col">Prix</th>
          <th scope="col">Etat</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rep of reparationVoitureService.voiture.reparation ; let iteration = index  ">
          <td *ngIf="rep.etat != 2">{{rep.type}}</td>
          <td *ngIf="rep.etat != 2"> {{rep.daty}}</td>
          <td *ngIf="rep.dateFin === undefined && rep.etat != 2">
            ---
          </td>
          <td  *ngIf="rep.dateFin !== undefined && rep.etat != 2">
            {{rep.dateFin}}
          </td>
          <td class="text-center" *ngIf="rep.etat != 2">
            {{rep.quantite}}
          </td>
          <td *ngIf="rep.etat != 2">
            {{rep.prix}} Ar
          </td>
          <td *ngIf="rep.etat != 2">
            <div *ngIf="rep.etat == 0">
                <img src="../assets/uncheck-icon-17.jpg" style="width: 30px; height: 30px;"/>
            </div>
            <div *ngIf="rep.etat == 1">
                <img src="../assets/5aa78e207603fc558cffbf19.png" style="width: 30px; height: 30px;"/>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    Progression : 
    <div class="progress progress-striped active" style="width: 300px;">
      <div class="progress-bar progress-bar-Success" [ngStyle]="{'width': reparationVoitureService.voiture.pourcentage + '%'}"> {{reparationVoitureService.voiture.pourcentage}} % </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <button  class="btn btn-primary" [routerLink]="['/facture']" [queryParams]="{ numero: numero}">
      Voir Facture
    </button>
  </div>
  <div class="col-md-2">
    
  </div>
  <div class="col-md-2">
    <button  class="btn btn-primary" [routerLink]="['/liste-voiture']">
      Retour
    </button>
  </div>
</div>
<app-footer></app-footer>